.container {
    display: flex;
  }
  

header {
    background:#fd5;
}

main {
    background:#aed;
    flex: 1;
}

nav {
    background: tomato;
    width: 100px;
    order: -1;
}

aside {
    background:#ddd;
    width: 100px;
}

footer {
    background:#222;
}